{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Soham Kamat's Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/welcome.jpg') }}" alt="Welcome" height="250">
                    <div class="card-body">
                    <h5 class="card-title"><mark>Where am I?</mark></h5>
                    <p class="card-text">
                        <ol>
                            <mark>Hello, Welcome to Soham Kamat's locally ran Python/Flask server!
                            This server is meant to test my ability to create a standalone Web application.
                            The expectation is to use this framework for group work or other backend development.
                            Flask is the app framework while Python is the backend development language(More about this is in the next card).<mark>
                        </ol>
                    </p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/coding.png') }}" alt="1010 code" height="250">
                    <div class="card-body">
                    <h5 class="card-title"><mark>What runs this server?</mark></h5>
                    <p class="card-text">
                        <ol>
                            <mark>Flask is a coding framework that is used to develop Web Applications and is ran by Python language.
                            Python language is what runs Flask Framework but it is not the only language.
                            Jinja2 is a template language and works well with both Flask and Python.
                            HTML, CSS, and JavaScript support the frontend work build while the Flask/Python Project is the backend service for Fastpages/Github Pages.</mark>
                        </ol>
                    </p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/looking.png') }}" alt="What to find" height="250">
                    <div class="card-body">
                    <h5 class="card-title"><mark>What you can find on this server?</mark></h5>
                    <p class="card-text">
                        <ol>
                            <mark>This server contains infomation on the purpose of this project as while as what runs it(look at the two other cards on this page).
                            It also has some infomation about me and my coding group. 
                            That infomation is found in the about me tag at the top left of this page.
                            More inofmation about this project and its process will be added to this server as time goes on.<mark>
                        </ol>
                    </p>
                    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}